<h1>Bem-vindos ao Sistema de Cadastro de Pessoas</h1>
<div class="content-container">
    <div class="card-wrapper">
        <app-card-item [imageUrl]= "'images/alexia.webp'" alt="imagem alexa"></app-card-item>
        <app-card-item [imageUrl]= "'images/notebook.jfif'" alt="imagem notebook"></app-card-item>
        <app-card-item [imageUrl]= "'images/headset.jfif'" alt="imagem headset"></app-card-item>
        <app-card-item [imageUrl]= "'images/teclado.jfif'" alt="imagem teclado"></app-card-item>
    </div>
</div>
